In [29]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [30]:
filename = 'f_dataset.csv'
df = pd.read_csv(filename)
df.head()

,Unnamed: 0,game,category,game+category,time,released_year,age,nb_of_runs,main_platform,main_genre,...,Popular,Very_Popular,Young,Somehow_Old,Old,Very_Old,Short,Somehow_Long,Long,Very_Long
0,0,X-Men 2: Clone Wars,Any%,X-Men 2: Clone Wars - Any%,1251.0,1995,26,12,Sega Genesis,Platformer,...,1,0,1,0,0,0,0,0,1,0
1,1,Kao the Kangaroo,Any%,Kao the Kangaroo - Any%,1517.0,2000,21,2,Dreamcast,3D Platformer,...,0,0,1,0,0,0,0,0,1,0
2,2,Mario & Luigi: Superstar Saga,Any%,Mario & Luigi: Superstar Saga - Any%,4436.0,2003,18,11,Game Boy Advance,NaN,...,1,0,1,0,0,0,0,0,0,1
3,3,Black Castle,Any%,Black Castle - Any%,512.0,2020,1,3,Game Boy Color,NaN,...,0,0,1,0,0,0,1,0,0,0
4,4,Sonic 3 & Knuckles,Sonic,Sonic 3 & Knuckles - Sonic,1797.0,1994,27,41,GameCube,Action,...,0,1,0,0,0,1,0,0,1,0

In [31]:
#Unnamed: 0 doesn't really do anything, so i'll drop it.
df = df.drop('Unnamed: 0', axis = 1)
df.head()

,game,category,game+category,time,released_year,age,nb_of_runs,main_platform,main_genre,engine,...,Popular,Very_Popular,Young,Somehow_Old,Old,Very_Old,Short,Somehow_Long,Long,Very_Long
0,X-Men 2: Clone Wars,Any%,X-Men 2: Clone Wars - Any%,1251.0,1995,26,12,Sega Genesis,Platformer,NaN,...,1,0,1,0,0,0,0,0,1,0
1,Kao the Kangaroo,Any%,Kao the Kangaroo - Any%,1517.0,2000,21,2,Dreamcast,3D Platformer,NaN,...,0,0,1,0,0,0,0,0,1,0
2,Mario & Luigi: Superstar Saga,Any%,Mario & Luigi: Superstar Saga - Any%,4436.0,2003,18,11,Game Boy Advance,NaN,NaN,...,1,0,1,0,0,0,0,0,0,1
3,Black Castle,Any%,Black Castle - Any%,512.0,2020,1,3,Game Boy Color,NaN,NaN,...,0,0,1,0,0,0,1,0,0,0
4,Sonic 3 & Knuckles,Sonic,Sonic 3 & Knuckles - Sonic,1797.0,1994,27,41,GameCube,Action,NaN,...,0,1,0,0,0,1,0,0,1,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game             458 non-null    object
 1   category         458 non-null    object
 2   game+category    458 non-null    object
 3   time             457 non-null    float64
 4   released_year    458 non-null    int64
 5   age              458 non-null    int64
 6   nb_of_runs       458 non-null    int64
 7   main_platform    457 non-null    object
 8   main_genre       177 non-null    object
 9   engine           17 non-null     object
 10  developer        188 non-null    object
 11  publisher        179 non-null    object
 12  TAS_time         458 non-null    float64
 13  emulator         126 non-null    object
 14  time_difference  457 non-null    float64
 15  %_of_difference  457 non-null    float64
 16  Unpopular        458 non-null    int64
 17  Somehow_Popular  458 non-null    int64
 18  Popular          458 non-null    int64
 19  Very_Popular     458 non-null    int64
 20  Young            458 non-null    int64
 21  Somehow_Old      458 non-null    int64
 22  Old              458 non-null    int64
 23  Very_Old         458 non-null    int64
 24  Short            458 non-null    int64
 25  Somehow_Long     458 non-null    int64
 26  Long             458 non-null    int64
 27  Very_Long        458 non-null    int64
dtypes: float64(4), int64(15), object(9)
memory usage: 100.3+ KB

In [33]:
df[['main_genre','engine','developer','publisher','emulator']].head(15)

       main_genre engine   developer publisher emulator
0      Platformer    NaN   Headgames      SEGA  BizHawk
1   3D Platformer    NaN         NaN       NaN  BizHawk
2             NaN    NaN         NaN       NaN  BizHawk
3             NaN    NaN         7FH       NaN      NaN
4          Action    NaN  Sonic Team      SEGA      NaN
5          Action    NaN  Sonic Team      SEGA      NaN
6          Action    NaN  Sonic Team      SEGA     Gens
7             NaN    NaN         NaN       NaN  BizHawk
8      Platformer    NaN        Rare  Nintendo  BizHawk
9      Platformer    NaN        Rare  Nintendo      NaN
10            NaN    NaN         NaN       NaN  BizHawk
11            NaN    NaN         NaN       NaN    FCEUX
12            NaN    NaN         NaN       NaN      NaN
13            NaN    NaN         NaN       NaN      NaN
14            NaN    NaN         NaN       NaN      NaN

In [34]:
#Due that main_genre, engine, developer, publisher and emulator has less than the 50% of data, i'll delete them.
df = df.drop(['main_genre', 'engine', 'developer', 'publisher', 'emulator'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game             458 non-null    object
 1   category         458 non-null    object
 2   game+category    458 non-null    object
 3   time             457 non-null    float64
 4   released_year    458 non-null    int64
 5   age              458 non-null    int64
 6   nb_of_runs       458 non-null    int64
 7   main_platform    457 non-null    object
 8   TAS_time         458 non-null    float64
 9   time_difference  457 non-null    float64
 10  %_of_difference  457 non-null    float64
 11  Unpopular        458 non-null    int64
 12  Somehow_Popular  458 non-null    int64
 13  Popular          458 non-null    int64
 14  Very_Popular     458 non-null    int64
 15  Young            458 non-null    int64
 16  Somehow_Old      458 non-null    int64
 17  Old              458 non-null    int64
 18  Very_Old         458 non-null    int64
 19  Short            458 non-null    int64
 20  Somehow_Long     458 non-null    int64
 21  Long             458 non-null    int64
 22  Very_Long        458 non-null    int64
dtypes: float64(4), int64(15), object(4)
memory usage: 82.4+ KB

In [38]:
df.loc[:, 'Unpopular':'Very_Long']

,Unpopular,Somehow_Popular,Popular,Very_Popular,Young,Somehow_Old,Old,Very_Old,Short,Somehow_Long,Long,Very_Long
0,0,0,1,0,1,0,0,0,0,0,1,0
1,1,0,0,0,1,0,0,0,0,0,1,0
2,0,0,1,0,1,0,0,0,0,0,0,1
3,1,0,0,0,1,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
453,0,0,1,0,1,0,0,0,0,0,1,0
454,0,0,0,1,0,0,0,1,1,0,0,0
455,0,1,0,0,1,0,0,0,0,1,0,0
456,0,0,1,0,1,0,0,0,0,1,0,0
457,1,0,0,0,1,0,0,0,0,1,0,0

In [ ]:
#These columns are binary variables, so i'll create new columns with the following values:
#Popularity: Unpopular = 1, Somehow_Popular = 2, Popular = 3, Very_Popular = 4.
#Age: Young = 1, Somehow_Old = 2, Old = 3, Very_Old = 4.
#Length: Short = 1, Somehow_Long = 2, Long = 3, Very_Long = 4.